$text: #1c1c1c;
$main: #ff4d4d;
$main-dark: #ee779f;
$secondary: #18dcff;
$secondary-dark: #17c0eb;
$third: #fffa65;
$third-dark: #fff200;
$border: 1px solid #d6c5c5;

:root {
  /* Colores */
  --gradient: linear-gradient(135deg, #03a9f495 6%, #e91e63ab 110%);
}

* {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100vw;
  overflow-x: hidden;
  section {
    padding: 3em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.inverted-color {
  // filter: invert(1);
  background-color: #0085f1;
  box-shadow: 0px 2px 2px 0px #007be0;
}

.guion {
  position: relative;
  top: -28px;
}

header {
  background-color: #0085f100;
  display: flex;
  justify-content: space-between;
  position: fixed !important;
  width: 100%;
  /* height: 70px; */
  padding: 30px 80px;
  align-content: center;
  z-index: 5;
  transition: background 500ms;
  ul {
    display: flex;
    width: 50%;
    list-style-type: none;
    justify-content: space-between;
  }
  .nav-toggle {
    //esconde el input
    display: none;
  }

  // .nav-toggle-label {
  //   display: none;
  // }
}

.logo {
  height: 23px;
}

.logo-footer {
  height: 50px;
}

#nosotros {
  &:after {
    background-image: url(../images/4684.jpg);
    content: "";
    width: 100vw;
    height: 100vh;
    /* background: var(--gradient); */
    // z-index: 999;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: grayscale(0.5);
  }
}

.hero {
  width: 100vw;
  height: 100vh;
  background: var(--gradient);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 1;
  /* mix-blend-mode: color-burn; */
  article {
    /* padding: 20px; */
    width: 70%;
    // height: 100vh;
    /* background: var(--gradient); */
    // display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url('images/4677.jpg') */
    h1 {
      color: white;
      text-shadow: var(--text-shadow);
    }
    h3 {
      color: white;
      margin-top: -44px;
    }
  }
}

#slider {
  background: #e9fffb;
  flex-direction: column;
  ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    // flex: 1;
    margin-top: 20px;
    margin-right: 20px;
    width: 280px;
    height: 100%;
    border: $border;
    box-sizing: padding-box;
    padding: 0px 30px 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 0px #00000025;
    transition: box-shadow 200ms;
    &:hover {
      box-shadow: 0px 2px 7px 5px #00000020;
    }
    .span {
      font-weight: 900;
    }
    img {
      opacity: 0.3;
    }
  }
  span {
    font-family: var(--decorative);
    font-size: 1.5em;
    color: #0174d0;
    line-height: 0.5em;
  }
}

#soy {
  display: flex;
  padding: 0;
  overflow: hidden;
  position: absolute;
  article {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      padding-right: 30px;
      .fas {
        font-size: 3em;
        color: white;
      }
    }
    h3{
      color:white
    }
  }
  span {
    font-weight: 900;
    font-size: 6em;
    line-height: 0.5em;
    color: white;
  }
}
h1 {
  justify-self: center;
  color: #ffffff;
  text-shadow: var(--text-shadow);
}
form {
  .input {
    width: 100%;
  }
  text-field {
    height: 100%;
  }
}

.selector {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  color: white;
  transition: font-size 200ms;
}
// .joust {
//   background: linear-gradient(
//     135deg,
//     rgba(255, 159, 67, 1) 0%,
//     rgba(254, 202, 87, 1) 50%
//   );
//   right: 25%;
// }

// .amore {
//   background: linear-gradient(135deg, #87adb5 0%, #75edff 50%);
// }

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#empresa {
  width: 100vw;
  height: 100vh;
  background-color: #2196f3;
  transition: background-color 200ms right 500ms;
  .fa-long-arrow-alt-left {
    font-size: 2em;
    left: 46%;
    position: absolute;
    color: white;
    bottom: 24px;
  }
}

#profesional {
  position: relative;
  right: 25%;
  width: 100vw;
  height: 100vh;
  background-color: #00bcd4;
  transition: right 500ms;
}

/*
*/
.visto {
  left: 50%;
}

.escondido {
  // right: 0% !important;
  background-color: white;
  /* transition:  */
}

.full {
  right: 50% !important;
}

.oscuro {
  background-color: #ee5253 !important;
}

button {
  position: relative;
  font-size: 0.9em;
  background-color: transparent;
  color: white;
  border: solid 2px;
  // box-shadow: 0 4px #7c4166;s
  width: auto;
  margin: 20px 0 0 0;
  transition: background 300ms, color 300ms, border 300ms;
  &:hover {
    background: white;
    color: #7c4166;
    border: solid 2px white;
  }
}

form {
  font-family: var(--decorative);
  legend {
    padding: 0 5px;
  }
}

#contacto {
  height: 100vh;
  position: relative;
  background: var(--gradient);
  background-size: cover;
  /* display: block; */
  flex-direction: column;
  align-items: flex-start;
  &:after {
    background-image: url(../images/1804.jpg);
    content: "";
    width: 100vw;
    height: 100vh;
    /* background: var(--gradient); */
    // z-index: 999;
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: grayscale(0.5);
    left: 0;
    top: 0;
  }
  h3 {
    color: white;
  }
  .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    align-items: center;
    .datos {
      width: 100%;
      padding-right: 40px;
    }
  }
  form {
    width: 100%;
  }
}

#procesos {
  position: relative;
  margin-top: 100vh;
  article {
    width: 70%;
    justify-self: flex-start;
  }
  h1 {
    color: $main-dark;
    line-height: 1em;
  }
}

footer {
  background-color: #1c1c1c;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 720px) {
  * {
    position: static !important;
  }
  header {
    position: fixed !important;
    padding: 25px 35px !important;
    z-index: 5;
    .linkedin {
      display: none;
      position: absolute !important;
    }
  }

  .desplegado {
    margin-left: 0px !important;
  }

  #navbar {
    position: absolute !important;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 100vw;
    padding: 60px 40px 121px 40px;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #03a9f4 6%, #e91e63 110%);
    align-items: flex-start;
    justify-content: flex-start;
    transition: margin-left 400ms cubic-bezier(0.68, 0, 0.32, 0.96);
    li {
      margin: 25px 0 0 0;
      padding-bottom: 13px;
      font-size: 1.8em;
      width: 100%;
      border-bottom: 1px solid white;
      &:nth-child(1){
        margin-top: 0;
      }
      &:nth-child(5){
        border-bottom: 0px
      }
    }
    a {
      font-size: 1em;
    }
  }

  .nav-toggle-label {
    height: 100% !important;
    width: 15%;
    padding: 15px;
    align-self: auto;
    position: absolute !important;
    top: 0;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: absolute !important;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    // position: absolute!important;
  }
  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  .fa-long-arrow-alt-left:before {
    display: none;
  }

  .hero {
    article {
      width: 100% !important;
      h3 {
        margin-top: 0px !important;
      }
    }
  }
  body {
    width: 100vw;

    section {
      height: auto !important;
      padding: 40px!important;
    }
  }
  #nosotros {
    height: 100vh !important;
    
  }

  #slider {
    ul {
      flex-direction: column;
      margin: 0;
      padding: 0;
      align-items: center;
    }
  }
  #soy {
    flex-direction: column;
    position: static;
    article {
      position: static;
      width: 100%;
    }
    div {
      width: 100% !important;
      img {
        display: none;
      }
    }
    .form {
      display: none !important;
    }
  }
  #procesos {
    margin-top: 0 !important;
    article {
      width: 100% !important;
    }
  }
  footer {
    padding: 20px 20px!important;
    .logo-footer{
      height: 35px
    }
    }
  }
  #contacto {
    .wrapper {
      flex-direction: column !important;
    }
  }

